.homepage .slider-homepage-1-zYNucu {
    background-color: transparent;
    height: 11.24%;
    left: 0px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 1.97%;
    width: 100%;
  }