/* screen - contact-us */
:root { 
  --alabaster: #fafafa;
  --black: #000000;
  --black-2: #0000000f;
  --bon-jour: #dfdfdf;
  --caribbean-green: #0fcfb0;
  --caribbean-green-2: #0ecfb0cf;
  --ebony-clay: #263238;
  --eerie-black: #221e20;
  --mist-gray: #c4c4c4;
  --oxford-blue: #3a4a56;
  --quick-silver: #a6a6a6;
  --shark: #252a30;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-size-xl: 21px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 32px;
  --font-size-xxxxl: 36px;
 
  --font-family-montserrat: "Montserrat", Helvetica;
  --font-family-neueradial-a-medium-regular: "neueRadial-A-Medium-Regular", Helvetica;
}
.montserrat-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-mc);
  font-style: normal;
  font-weight: 700;
}

.montserrat-medium-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-mc);
  font-style: normal;
  font-weight: 500;
}

.montserrat-normal-ebony-clay-13px {
  color: var(--ebony-clay);
  font-family: var(--font-family-montserrat);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.montserrat-semi-bold-ebony-clay-10px {
  color: var(--ebony-clay);
  font-family: var(--font-family-montserrat);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
}

.montserrat-bold-ebony-clay-14px {
  color: var(--ebony-clay);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-mc);
  font-style: normal;
  font-weight: 700;
}

.montserrat-normal-quick-silver-16px {
  color: var(--quick-silver);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-lc);
  font-style: normal;
  font-weight: 400;
}

.montserrat-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-lc);
  font-style: normal;
  font-weight: 500;
}

.montserrat-semi-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-lc);
  font-style: normal;
  font-weight: 600;
}

.montserrat-bold-ebony-clay-12px {
  color: var(--ebony-clay);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-sc);
  font-style: normal;
  font-weight: 700;
}

.montserrat-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-mc);
  font-style: normal;
  font-weight: 400;
}

.montserrat-bold-white-32px {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxlc);
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-white-32px-2 {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxlc);
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-ebony-clay-16px {
  color: var(--ebony-clay);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-lc);
  font-style: normal;
  font-weight: 700;
}

.montserrat-light-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-mc);
  font-style: normal;
  font-weight: 300;
}

.montserrat-extra-bold-white-36px {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxlc);
  font-style: normal;
  font-weight: 800;
}

.montserrat-bold-white-8px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
}

.montserrat-normal-ebony-clay-14px {
  color: var(--ebony-clay);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-mc);
  font-style: normal;
  font-weight: 400;
}

.montserrat-semi-bold-ebony-clay-36px {
  color: var(--ebony-clay);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxlc);
  font-style: normal;
  font-weight: 600;
}

.montserrat-extra-bold-white-36px-2 {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxlc);
  font-style: normal;
  font-weight: 800;
}

.montserrat-semi-bold-ebony-clay-14px {
  color: var(--ebony-clay);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-mc);
  font-style: normal;
  font-weight: 600;
}

.montserrat-extra-bold-caribbean-green-36px {
  color: var(--caribbean-green);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxlc);
  font-style: normal;
  font-weight: 800;
}

.montserrat-bold-caribbean-green-32px {
  color: var(--caribbean-green);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxlc);
  font-style: normal;
  font-weight: 700;
}

.montserrat-semi-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxlc);
  font-style: normal;
  font-weight: 600;
}

.montserrat-bold-caribbean-green-24px {
  color: var(--caribbean-green);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxlc);
  font-style: normal;
  font-weight: 700;
}

.montserrat-extra-bold-white-21px {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xlc);
  font-style: normal;
  font-weight: 800;
}

.montserrat-medium-white-11px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
}

.montserrat-bold-oxford-blue-32px {
  color: var(--oxford-blue);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxlc);
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-ebony-clay-18px {
  color: var(--ebony-clay);
  font-family: var(--font-family-montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-eerie-black-14px {
  color: var(--eerie-black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-mc);
  font-style: normal;
  font-weight: 700;
}

.montserrat-extra-bold-ebony-clay-36px {
  color: var(--ebony-clay);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxlc);
  font-style: normal;
  font-weight: 800;
}

.montserrat-semi-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxlc);
  font-style: normal;
  font-weight: 600;
}

.montserrat-bold-eerie-black-11px {
  color: var(--eerie-black);
  font-family: var(--font-family-montserrat);
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
}

.montserrat-extra-bold-white-21px-2 {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xlc);
  font-style: normal;
  font-weight: 800;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,300,500,600,800");

.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.overlay {
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay.animate-appear {
  animation: reveal 0.3s ease-in-out 1 normal forwards;
  display: block;
  opacity: 0;
}

.overlay.animate-disappear {
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
  display: block;
  opacity: 1;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input:focus {
  outline: none;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

* {
  box-sizing: border-box;
}


.border-1px-mist-gray {
  border: 1px solid var(--mist-gray);
}

.border-1px-black-2 {
  border: 1px solid var(--black-2);
}

.border-5px-caribbean-green {
  border: 5px solid var(--caribbean-green);
}


.contact-us {
    background-color: var(--white);
    height: 2779px;
    mix-blend-mode: normal;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1440px;
  }
  
  .contact-us .rectangle-42-q2xQ3x {
    background-color: var(--shark);
    box-shadow: 0px 12px 14px #0000001a;
    height: 827px;
    left: -1px;
    mix-blend-mode: normal;
    position: absolute;
    top: 1474px;
    width: 1443px;
  }
  
  .contact-us .rectangle-107-q2xQ3x {
    background-color: transparent;
    height: 1426px;
    left: -1px;
    mix-blend-mode: normal;
    position: absolute;
    top: 684px;
    width: 1441px;
  }
  
  .contact-us .unsplashq8-u1-yg-ba-r-qk-q2xQ3x {
    background-color: transparent;
    height: 575px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 109px;
    width: 1440px;
  }
  
  .contact-us .rectangle-87-q2xQ3x {
    background-color: #2632387d;
    display: block;
    height: 575px;
    left: 711px;
    mix-blend-mode: normal;
    opacity: 0;
    position: absolute;
    top: 109px;
    transform: translate(50px, 0);
    width: 729px;
  }
  
  .contact-us .rectangle-87-q2xQ3x.animate-enter {
    animation: animate-enter-frames 0.50s ease-in-out 0.00s 1 normal forwards;
    display: block;
    opacity: 0;
    transform: translate(50px, 0);
  }
  
  @keyframes animate-enter-frames {
    from{opacity: 0;
  transform: translate(50px, 0);
  }
  to{opacity: 1;
  transform: translate(0,0);
  }
  }
  
  .contact-us .top-header-q2xQ3x {
    background-color: transparent;
    height: 36px;
    left: 0px;
    position: absolute;
    top: -1px;
    width: 1440px;
  }
  
  .contact-us .rectangle-97-64rcff {
    background-color: var(--caribbean-green);
    height: 36px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 1440px;
  }
  
  .contact-us .bxbxl-facebook-64rcff {
    background-color: transparent;
    height: 19px;
    left: 134px;
    mix-blend-mode: normal;
    overflow: hidden;
    position: absolute;
    top: 9px;
    width: 22px;
  }
  
  .contact-us .vector-Hyky9U {
    background-color: transparent;
    cursor: pointer;
    height: 18px;
    left: 0;
    mix-blend-mode: normal;
    position: absolute;
    top: 0;
    width: 35px;
  }
  
  .contact-us .ant-designtwitter-outlined-64rcff {
    background-color: transparent;
    cursor: pointer;
    height: 23px;
    left: 166px;
    mix-blend-mode: normal;
    overflow: hidden;
    position: absolute;
    top: 7px;
    width: 23px;
  }
  
  .contact-us .vector-molF0M {
    background-color: transparent;
    height: 17px;
    left: 2px;
    mix-blend-mode: normal;
    position: absolute;
    top: 3px;
    width: 19px;
  }
  
  .contact-us .vector-64rcff {
    background-color: transparent;
    cursor: pointer;
    height: 17px;
    left: 202px;
    mix-blend-mode: normal;
    position: absolute;
    top: 9px;
    width: 18px;
  }
  
  .contact-us .navbar-q2xQ3x {
    background-color: transparent;
    height: 120px;
    left: 0px;
    position: absolute;
    top: 35px;
    width: 1446px;
  }
  
  .contact-us .vector-PUJjp0 {
    background-color: transparent;
    height: 120px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 1440px;
  }
  
  .contact-us .company-dropdown-PUJjp0 {
    background-color: transparent;
    height: 17px;
    left: 597px;
    position: absolute;
    top: 31px;
    width: 94px;
  }
  
  .contact-us .vector-BlwT8x {
    background-color: transparent;
    height: 9px;
    left: 80px;
    position: absolute;
    top: 5px;
    width: 14px;
  }
  
  .contact-us .company-BlwT8x {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: auto;
  }
  
  .contact-us .login-button-default-PUJjp0 {
    background-color: transparent;
    cursor: pointer;
    height: 62px;
    left: 1151px;
    pointer-events: auto;
    position: absolute;
    top: 7px;
    transition: all 0.2s ease;
    width: 175px;
  }
  
  .contact-us .login-button-default-PUJjp0:hover {
    transform: scale(1.1);
  }
  
  .contact-us .rectangle-100-gay3xq {
    background-color: var(--eerie-black);
    cursor: pointer;
    height: 62px;
    left: 0px;
    mix-blend-mode: normal;
    pointer-events: auto;
    position: absolute;
    top: 0px;
    transition: all 0.2s ease;
    width: 175px;
  }
  
  .contact-us .rectangle-100-gay3xq:hover {
    background-color: #0FCFB0
  }
  
  .contact-us .login-gay3xq {
    background-color: transparent;
    height: auto;
    left: 63px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 22px;
    width: 118px;
  }
  
  .contact-us .original-logo-PUJjp0 {
    background-color: transparent;
    height: auto;
    left: 105px;
    mix-blend-mode: normal;
    position: absolute;
    top: 17px;
    width: 125px;
}
  
  .contact-us .layer-2-psLxCl {
    background-color: transparent;
    height: 74px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 54px;
  }
  
  .contact-us .logo-NfVyzz {
    background-color: transparent;
    height: 74px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 54px;
  }
  
  .contact-us .group-106-M7cpkh {
    background-color: transparent;
    height: 74px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 54px;
  }
  
  .contact-us .vector-dsJSyI {
    background-color: transparent;
    height: 45px;
    left: 28px;
    mix-blend-mode: normal;
    position: absolute;
    top: -0px;
    width: 27px;
  }
  
  .contact-us .vector-WwBTok {
    background-color: transparent;
    height: 45px;
    left: -0px;
    mix-blend-mode: normal;
    position: absolute;
    top: -0px;
    width: 26px;
  }
  
  .contact-us .vector-Z83skq {
    background-color: transparent;
    height: 43px;
    left: 1px;
    mix-blend-mode: normal;
    position: absolute;
    top: 31px;
    width: 53px;
  }
  
  .contact-us .vector-mO8FNv {
    background-color: transparent;
    height: 6px;
    left: 38px;
    mix-blend-mode: normal;
    position: absolute;
    top: 19px;
    width: 7px;
  }
  
  .contact-us .vector-xrwf3w {
    background-color: transparent;
    height: 6px;
    left: 9px;
    mix-blend-mode: normal;
    position: absolute;
    top: 19px;
    width: 7px;
  }
  
  .contact-us .vector-GBzzGx {
    background-color: transparent;
    height: 9px;
    left: 16px;
    mix-blend-mode: normal;
    position: absolute;
    top: 43px;
    width: 23px;
  }
  
  .contact-us .logo-title-PUJjp0 {
    background-color: transparent;
    height: 19px;
    left: 105px;
    position: absolute;
    top: 89px;
    width: 121px;
  }
  
  .contact-us .friend-x6AXLC {
    background-color: transparent;
    height: 19px;
    left: 56px;
    position: absolute;
    top: 0px;
    width: 65px;
  }
  
  .contact-us .vector-73ZRCU {
    background-color: transparent;
    height: 4px;
    left: 20px;
    mix-blend-mode: normal;
    position: absolute;
    top: 2px;
    width: 5px;
  }
  
  .contact-us .vector-h9H4ft {
    background-color: transparent;
    height: 18px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 10px;
  }
  
  .contact-us .vector-xydcn4 {
    background-color: transparent;
    height: 13px;
    left: 11px;
    mix-blend-mode: normal;
    position: absolute;
    top: 6px;
    width: 9px;
  }
  
  .contact-us .vector-iuxHV6 {
    background-color: transparent;
    height: 12px;
    left: 21px;
    mix-blend-mode: normal;
    position: absolute;
    top: 7px;
    width: 3px;
  }
  
  .contact-us .vector-yCKGw9 {
    background-color: transparent;
    height: 13px;
    left: 26px;
    mix-blend-mode: normal;
    position: absolute;
    top: 6px;
    width: 12px;
  }
  
  .contact-us .vector-9hQsRp {
    background-color: transparent;
    height: 13px;
    left: 40px;
    mix-blend-mode: normal;
    position: absolute;
    top: 6px;
    width: 11px;
  }
  
  .contact-us .vector-KgF1Pv {
    background-color: transparent;
    height: 17px;
    left: 52px;
    mix-blend-mode: normal;
    position: absolute;
    top: 2px;
    width: 13px;
  }
  
  .contact-us .send-x6AXLC {
    background-color: transparent;
    height: 16px;
    left: 0px;
    position: absolute;
    top: 2px;
    width: 53px;
  }
  
  .contact-us .vector-dVwTez {
    background-color: transparent;
    height: 16px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 13px;
  }
  
  .contact-us .vector-F74H0I {
    background-color: transparent;
    height: 13px;
    left: 28px;
    mix-blend-mode: normal;
    position: absolute;
    top: 4px;
    width: 11px;
  }
  
  .contact-us .vector-WIR1eG {
    background-color: transparent;
    height: 17px;
    left: 41px;
    mix-blend-mode: normal;
    position: absolute;
    top: -0px;
    width: 13px;
  }
  
  .contact-us .vector-FP9ihZ {
    background-color: transparent;
    height: 13px;
    left: 14px;
    mix-blend-mode: normal;
    position: absolute;
    top: 4px;
    width: 13px;
  }
  
  .contact-us .platform-PUJjp0 {
    background-color: transparent;
    height: auto;
    left: 326px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 31px;
    width: auto;
  }
  
  .contact-us .partners-PUJjp0 {
    background-color: transparent;
    height: auto;
    left: 466px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 31px;
    width: auto;
  }
  
  .contact-us .contact-us-PUJjp0 {
    background-color: transparent;
    height: auto;
    left: 743px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 31px;
    width: auto;
  }
  
  .contact-us .header-text-q2xQ3x {
    background-color: transparent;
    display: block;
    height: 223px;
    left: 788px;
    opacity: 0;
    position: absolute;
    top: 279px;
    width: 361px;
  }
  
  .contact-us .header-text-q2xQ3x.animate-enter1 {
    animation: animate-enter1-frames 0.60s ease-in-out 0.00s 1 normal forwards;
    display: block;
    opacity: 0;
  }
  
  @keyframes animate-enter1-frames {
    from{opacity: 0;
  }
  to{opacity: 1;
  }
  }
  
  .contact-us .contact-us-su2A3v {
    background-color: transparent;
    color: transparent;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxxxlc);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 53.7px;
    position: absolute;
    text-align: left;
    top: 57px;
    white-space: nowrap;
    width: auto;
  }
  
  .contact-us .span0-xxjJkh {
    color: var(--white);
    font-style: normal;
  }
  
  .contact-us .span1-xxjJkh {
    color: var(--caribbean-green);
    font-style: normal;
  }
  
  .contact-us .we-are-cheaper-faste-su2A3v {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 39.8px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 143px;
    width: 355px;
  }
  
  .contact-us .send-friend-su2A3v {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 355px;
  }
  
  .contact-us .have-a-question-need-q2xQ3x {
    background-color: transparent;
    height: auto;
    left: 357px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 834px;
    width: 707px;
  }
  
  .contact-us .span0-ZYlUMA {
  }
  
  .contact-us .span1-ZYlUMA {
  }
  
  .contact-us .span2-ZYlUMA {
  }
  
  .contact-us .name-form-q2xQ3x {
    background-color: transparent;
    height: 60px;
    left: 348px;
    position: absolute;
    top: 1058px;
    width: 756px;
  }
  
  .contact-us .rectangle-65-as6hgS {
    background-color: var(--alabaster);
    border-radius: 5px;
    box-shadow: 7px 4px 5px #00000040;
    height: 60px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 754px;
  }
  
  .contact-us .your-name-as6hgS {
    background-color: transparent;
    border: 0;
    height: 60px;
    left: 30px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    padding: 0;
    position: absolute;
    resize: none;
    text-align: left;
    top: 0;
    width: 724px;
  }
  
  .contact-us .your-name-as6hgS::placeholder {
    color: #a6a6a699;
  }
  
  .contact-us .name-text-q2xQ3x {
    background-color: transparent;
    height: 49px;
    left: 367px;
    position: absolute;
    top: 991px;
    width: 241px;
  }
  
  .contact-us .please-enter-your-real-name-4MxKvx {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 29px;
    width: 237px;
  }
  
  .contact-us .your-name-4MxKvx {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 114px;
  }
  
  .contact-us .email-form-q2xQ3x {
    background-color: transparent;
    height: 60px;
    left: 348px;
    position: absolute;
    top: 1236px;
    width: 756px;
  }
  
  .contact-us .rectangle-66-rOfp8x {
    background-color: var(--alabaster);
    border-radius: 5px;
    box-shadow: 7px 4px 5px #00000040;
    height: 60px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 754px;
  }
  
  .contact-us .your-email-address-rOfp8x {
    background-color: transparent;
    border: 0;
    height: 60px;
    left: 30px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    padding: 0;
    position: absolute;
    resize: none;
    text-align: left;
    top: 0px;
    width: 724px;
  }
  
  .contact-us .your-email-address-rOfp8x::placeholder {
    color: #a6a6a699;
  }
  
  .contact-us .email-text-q2xQ3x {
    background-color: transparent;
    height: 49px;
    left: 367px;
    position: absolute;
    top: 1169px;
    width: 459px;
  }
  
  .contact-us .please-carefully-che-Re3uw6 {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 29px;
    width: 455px;
  }
  
  .contact-us .your-email-address-Re3uw6 {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 194px;
  }
  
  .contact-us .company-form-q2xQ3x {
    background-color: transparent;
    height: 60px;
    left: 348px;
    position: absolute;
    top: 1377px;
    width: 362px;
  }
  
  .contact-us .rectangle-68-8JjHSV {
    background-color: var(--alabaster);
    border-radius: 5px;
    box-shadow: 7px 4px 5px #00000040;
    height: 60px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 360px;
  }
  
  .contact-us .company-8JjHSV {
    background-color: transparent;
    border: 0;
    height: 60px;
    left: 24px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    padding: 0;
    position: absolute;
    resize: none;
    text-align: left;
    top: 0;
    width: 336px;
  }
  
  .contact-us .company-8JjHSV::placeholder {
    color: #a6a6a699;
  }
  
  .contact-us .your-company-q2xQ3x {
    background-color: transparent;
    height: auto;
    left: 367px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 1339px;
    width: 194px;
  }
  
  .contact-us .mobile-form-q2xQ3x {
    background-color: transparent;
    height: 60px;
    left: 750px;
    position: absolute;
    top: 1377px;
    width: 354px;
  }
  
  .contact-us .rectangle-69-yJf8Ne {
    background-color: var(--alabaster);
    border-radius: 5px;
    box-shadow: 7px 4px 5px #00000040;
    height: 60px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 352px;
  }
  
  .contact-us .mobile-yJf8Ne {
    background-color: transparent;
    border: 0;
    height: 60px;
    left: 23px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    padding: 0;
    position: absolute;
    resize: none;
    text-align: left;
    top: 0px;
    width: 329px;
  }
  
  .contact-us .mobile-yJf8Ne::placeholder {
    color: #a6a6a699;
  }
  
  .contact-us .your-mobile-nr-q2xQ3x {
    background-color: transparent;
    height: auto;
    left: 773px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 1339px;
    width: 194px;
  }
  
  .contact-us .message-form-q2xQ3x {
    background-color: transparent;
    height: 314px;
    left: 350px;
    position: absolute;
    top: 1551px;
    width: 756px;
  }
  
  .contact-us .rectangle-67-Sv04Lu {
    background-color: var(--alabaster);
    border-radius: 5px;
    box-shadow: 7px 4px 5px #00000040;
    height: 314px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 754px;
  }
  
  .contact-us .i-have-a-question-about-Sv04Lu {
    background-color: transparent;
    border: 0;
    height: 260px;
    left: 30px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    padding: 0;
    position: absolute;
    resize: none;
    text-align: left;
    top: 25px;
    width: 698px;
  }
  
  .contact-us .i-have-a-question-about-Sv04Lu::placeholder {
    color: #a6a6a699;
  }
  
  .contact-us .message-text-q2xQ3x {
    background-color: transparent;
    height: 49px;
    left: 367px;
    position: absolute;
    top: 1484px;
    width: 459px;
  }
  
  .contact-us .please-carefully-che-Z617ya {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 29px;
    width: 455px;
  }
  
  .contact-us .explain-your-question-in-details-Z617ya {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 310px;
  }


  .contact-us .send-button-q2xQ3x {
    background-color: #0FCFB0;
    border: 5px solid #0FCFB0;
    cursor: pointer;
    height: 62px;
    left: 890px;
    pointer-events: auto;
    position: absolute;
    top: 1953px;
    transition: all 0.2s ease;
    width: 204px;
  }
  
  .contact-us .send-button-q2xQ3x:hover {
    background-color: #252A30;
    border: 5px solid #ffffff;
    color: #ffffff;
  
  }
  
  .contact-us .footer-q2xQ3x {
    background-color: transparent;
    height: 491px;
    left: 0px;
    position: absolute;
    top: 2288px;
    width: 1440px;
  }
  
  .contact-us .rectangle-89-FjfUj9 {
    background-color: var(--eerie-black);
    height: 491px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 1440px;
  }
  
  .contact-us .x2021-send-friend-all-rights-reserved-FjfUj9 {
    background-color: transparent;
    height: auto;
    left: 233px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 448px;
    width: 308px;
  }
  
  .contact-us .facebook-twitter-linked-in-FjfUj9 {
    background-color: transparent;
    height: auto;
    left: 998px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 445px;
    width: 308px;
  }
  
  .contact-us .rectangle-40-FjfUj9 {
    background-color: var(--shark);
    box-shadow: 0px 12px 14px #0000001a;
    height: 203px;
    left: 225px;
    mix-blend-mode: normal;
    position: absolute;
    top: 51px;
    width: 1025px;
  }
  
  .contact-us .to-learn-more-about-send-friend-FjfUj9 {
    background-color: transparent;
    height: auto;
    left: 313px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 138px;
    width: auto;
  }
  
  .contact-us .span0-Ao0NjO {
  }
  
  .contact-us .span1-Ao0NjO {
  }
  
  .contact-us .group-45-FjfUj9 {
    background-color: transparent;
    height: 87px;
    left: 237px;
    position: absolute;
    top: 295px;
    transform: rotate(180deg);
    width: 64px;
  }
  
  .contact-us .path-45-3cxTM6 {
    background-color: transparent;
    height: 53px;
    left: 507px;
    mix-blend-mode: normal;
    position: absolute;
    top: -0px;
    transform: rotate(-180deg);
    width: 31px;
  }
  
  .contact-us .ellipse-8-3cxTM6 {
    background-color: transparent;
    height: 8px;
    left: 518px;
    mix-blend-mode: normal;
    position: absolute;
    top: 22px;
    transform: rotate(-180deg);
    width: 8px;
  }
  
  .contact-us .path-46-3cxTM6 {
    background-color: transparent;
    height: 52px;
    left: 474px;
    mix-blend-mode: normal;
    position: absolute;
    top: -0px;
    transform: rotate(-180deg);
    width: 31px;
  }
  
  .contact-us .ellipse-9-3cxTM6 {
    background-color: transparent;
    height: 8px;
    left: 485px;
    mix-blend-mode: normal;
    position: absolute;
    top: 22px;
    transform: rotate(-180deg);
    width: 8px;
  }
  
  .contact-us .path-47-3cxTM6 {
    background-color: transparent;
    height: 35px;
    left: 475px;
    mix-blend-mode: normal;
    position: absolute;
    top: 37px;
    transform: rotate(-180deg);
    width: 62px;
  }
  
  .contact-us .path-48-3cxTM6 {
    background-color: transparent;
    height: 10px;
    left: 492px;
    mix-blend-mode: normal;
    position: absolute;
    top: 51px;
    transform: rotate(-180deg);
    width: 27px;
  }
  
  .contact-us .path-49-3cxTM6 {
    background-color: transparent;
    height: 20px;
    left: 509px;
    mix-blend-mode: normal;
    position: absolute;
    top: 67px;
    transform: rotate(-180deg);
    width: 14px;
  }
  
  .contact-us .path-50-3cxTM6 {
    background-color: transparent;
    height: 20px;
    left: 488px;
    mix-blend-mode: normal;
    position: absolute;
    top: 67px;
    transform: rotate(-180deg);
    width: 14px;
  }
  
  .contact-us .line-1-FjfUj9 {
    background-color: transparent;
    height: 2px;
    left: 237px;
    position: absolute;
    top: 421px;
    width: 970px;
  }
  
  .contact-us .asset-1bg1-1-2-FjfUj9 {
    background-color: transparent;
    height: 491px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 225px;
  }
  
  .contact-us .friend-FjfUj9 {
    left: 315px;
    position: relative;
    top: 296px;
}
  
  .contact-us .vector-RzPxPp {
    height: auto;
    mix-blend-mode: normal;
    position: absolute;
    width: auto;
  }
  
  .contact-us .vector-uFUx19 {
    background-color: transparent;
    height: 35px;
    left: -1px;
    mix-blend-mode: normal;
    position: absolute;
    top: -0px;
    width: 21px;
  }
  
  .contact-us .vector-SYEzEv {
    background-color: transparent;
    height: 25px;
    left: 24px;
    mix-blend-mode: normal;
    position: absolute;
    top: 10px;
    width: 16px;
  }
  
  .contact-us .vector-tPezbP {
    background-color: transparent;
    height: 24px;
    left: 44px;
    mix-blend-mode: normal;
    position: absolute;
    top: 11px;
    width: 6px;
  }
  
  .contact-us .vector-qxDH26 {
    background-color: transparent;
    height: 26px;
    left: 55px;
    mix-blend-mode: normal;
    position: absolute;
    top: 10px;
    width: 25px;
  }
  
  .contact-us .vector-txvxvA {
    background-color: transparent;
    height: 25px;
    left: 84px;
    mix-blend-mode: normal;
    position: absolute;
    top: 10px;
    width: 23px;
  }
  
  .contact-us .vector-wYWj33 {
    background-color: transparent;
    height: 36px;
    left: 111px;
    mix-blend-mode: normal;
    position: absolute;
    top: -0px;
    width: 26px;
  }
  
  .contact-us .send-FjfUj9 {
    background-color: transparent;
    height: 36px;
    left: 314px;
    position: absolute;
    top: 303px;
    width: 109px;
  }
  
  .contact-us .vector-SzED9M {
    background-color: transparent;
    height: 27px;
    left: -1px;
    mix-blend-mode: normal;
    position: absolute;
    top: 10px;
    width: 22px;
  }
  
  .contact-us .vector-S7Gryw {
    background-color: transparent;
    height: 26px;
    left: 55px;
    mix-blend-mode: normal;
    position: absolute;
    top: 10px;
    width: 23px;
  }
  
  .contact-us .vector-S7Nacb {
    background-color: transparent;
    height: 38px;
    left: 82px;
    mix-blend-mode: normal;
    position: absolute;
    top: -1px;
    width: 28px;
  }
  
  .contact-us .vector-cigqHK {
    background-color: transparent;
    height: 27px;
    left: 24px;
    mix-blend-mode: normal;
    position: absolute;
    top: 10px;
    width: 26px;
  }
  
  .contact-us .contact-us-button-footer-FjfUj9 {
    background-color: #0FCFB0;
    border: 5px solid #0FCFB0;
    cursor: pointer;
    height: 62px;
    left: 967px;
    pointer-events: auto;
    position: absolute;
    top: 130px;
    transition: all 0.2s ease;
    width: 204px;
  }
  
  .contact-us .contact-us-button-footer-FjfUj9:hover {
    background-color: #252A30;
    border: 5px solid #ffffff;
    color: #ffffff;
  
  }
  .contact-us .contact-us-xNdJvB  {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: relative;
    text-align: center;
    padding-top: 0px;
    width: 100%;
  
  }
  .contact-us .contact-us-xNdJvB1  {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: relative;
    text-align: center;
    padding-top: 15px;
    width: 100%;
  
  }
  