/* screen - mobile-menu */

.mobile-menu {
  background-color: var(--ebony-clay);
  height: 244px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 155px;
}

#overlay-mobile-menu {
  background-color: var(--ebony-clay);
}

.overlay .mobile-menu {
  background-color: #00000000;
}

#overlay-mobile-menu .mobile-menu {
  left: 219.9998779296875px;
  top: -5.340576171875e-05px;
}

#overlay-mobile-menu .container-center-horizontal {
  justify-content: normal;
}

.mobile-menu .login-button-mobile-jxzQz0 {
  background-color: var(--white);
  box-shadow: 0px 7px 50px #0000001a;
  height: 28px;
  left: 37px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 197px;
  width: 81px;
}

.mobile-menu .group-123-tg1hNG {
  background-color: transparent;
  height: 28px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 83px;
}

.mobile-menu .rectangle-100-UNPDgx {
  background-color: var(--eerie-black);
  border: 2px solid var(--caribbean-green);
  cursor: pointer;
  height: 28px;
  left: 0px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 81px;
}

.mobile-menu .rectangle-100-UNPDgx:hover {
  background-color: #0FCFB0
}

.mobile-menu .login-UNPDgx {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: auto;
}

.mobile-menu .platform-jxzQz0 {
  background-color: transparent;
  height: auto;
  left: 59px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: auto;
}

.mobile-menu .partnership-jxzQz0 {
  background-color: transparent;
  height: auto;
  left: 53px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 83px;
  width: auto;
}

.mobile-menu .company-jxzQz0 {
  background-color: transparent;
  height: auto;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 114px;
  width: auto;
}

.mobile-menu .contact-jxzQz0 {
  background-color: transparent;
  height: auto;
  left: 61px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 148px;
  width: auto;
}

.mobile-menu .close-jxzQz0 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 117px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 21px;
}

.mobile-menu .line-17-6rcJjs {
  background-color: transparent;
  height: 22px;
  left: -0px;
  position: absolute;
  top: 1px;
  width: 22px;
}

.mobile-menu .line-18-6rcJjs {
  background-color: transparent;
  height: 23px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 22px;
}
