:root {
    --main-color-one: #0FCFB0;
    --main-color-two: #F9556D;
    --secondary-color: #30373f;
    --heading-color: #272b2e;
    --paragraph-color: #5B6880;
    --montserrat-font: 'Montserrat', sans-serif;
    --body-font-size: 15px;
    --line-height30: 30px; 
    --bs-font-sans-serif: 'Montserrat', sans-serif;
  
  }



/**job-position-area **/
.single-job-list {
    background: #fff;
    -webkit-box-shadow: 0px 4px 20px #9398A11A;
    box-shadow: 0px 4px 20px #9398A11A;
    border-radius: 8px;
    padding: 22px 35px 22px 26px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-bottom: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .single-job-list:hover {
      -webkit-box-shadow: 0px 7px 30px #9398A11C;
      box-shadow: 0px 7px 30px #9398A11C; }
    .single-job-list img {
      width: 66px;
      height: 66px; }
    .single-job-list .media-body {
      border-left: 1px solid #EEEBF7;
      margin-left: 26.5px;
      padding-left: 25.5px; }
      .single-job-list .media-body h6 {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.18px;
        color: #5B6880;
        display: inline-block;
        margin-bottom: 12px; }
      .single-job-list .media-body span {
        font-size: var(--body-font-size);
        line-height: var(--line-height30);
        font-weight: 400;
        letter-spacing: 0.3px;
        color: #5B6880;
        display: block; }
  
  .job-apply-btn {
    background: #FFFFFF;
    border: 1px solid #D6DAE1;
    border-radius: 4px;
    font-size: var(--body-font-size);
    letter-spacing: 0.3px;
    color: #97A1B3;
    height: 44px;
    line-height: 44px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 0 30px;
    display: inline-block; }
    .job-apply-btn:hover {
      -webkit-box-shadow: 0px 7px 16px #01358D6B;
      box-shadow: 0px 7px 16px #01358D6B;
      background: #01358D;
      color: #fff;
      border: 1px solid #01358D; }
    .job-apply-btn:focus, .job-apply-btn:active {
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: 0; }
  

/*----------------------------------------
  ## Section title
----------------------------------------*/
.section-title {
    margin-bottom: 65px; }
    .section-title .counting-number {
      font-size: 92px;
      font-weight: 500;
      letter-spacing: 1.84px;
      color: #5B6880;
      background: transparent;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      position: relative;
      display: inline-block; }
      .section-title .counting-number:after {
        content: '';
        position: absolute;
        height: 42px;
        width: 42px;
        background: rgba(216, 255, 243, 0.7);
        border-radius: 50%;
        top: 50%;
        left: 50%;
        margin-top: -21px;
        margin-left: -21px;
        z-index: -1; }
    .section-title .title {
      letter-spacing: 0.92px;
      color: #272b2e;
      opacity: 1;
      font-weight: 700;
      margin-bottom: 0;
      font-family: var(--montserrat-font); }
      .section-title .title span {
        color: var(--main-color-one); }
    .section-title .title-2 {
      font-size: 36px;
      line-height: 44px; }
    .section-title p {
      letter-spacing: 0.32px;
      color: #5B6880;
      opacity: 1;
      font-size: var(--body-font-size);
      line-height: var(--line-height30);
      margin-top: 18px;
      margin-bottom: 0;
      font-weight: 400; }
    .section-title a {
      font-size: var(--body-font-size);
      line-height: var(--line-height30);
      font-weight: 500;
      letter-spacing: 0.45px;
      color: #97A1B3;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      margin-top: 24px;
      display: inline-block;
      position: relative; }
      .section-title a img {
        margin-left: 6px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .section-title a:hover img {
        margin-left: 9px; }
      .section-title a.read-more i {
        font-size: 35px;
        position: absolute;
        right: -42px;
        bottom: -3px; }
      .section-title a:hover {
        color: var(--main-color-one); }
    .section-title.style-two {
      margin-bottom: 44px; }
    .section-title.style-three {
      max-width: 80%;
      margin-bottom: 45px; }
    .section-title.style-four .title {
      font-size: 36px;
      line-height: 1.2; }
    .section-title.style-four p {
      line-height: 26px; }
    .section-title.style-five .sub-title {
      font-size: 18px;
      font-weight: 500; }
      .section-title.style-five .sub-title span {
        color: var(--main-color-one); }
    .section-title.ui-element-section-title {
      margin-bottom: 0; }
      .section-title.ui-element-section-title .title {
        font-size: 32px;
        line-height: 1.2;
        color: #5B6880; }
      .section-title.ui-element-section-title p {
        font-size: 16px;
        line-height: 26px;
        color: #5B6880;
        position: relative;
        display: inline-block; }
        .section-title.ui-element-section-title p:after {
          content: '';
          position: absolute;
          right: -50px;
          top: 50%;
          background: #4B4B4B;
          height: 1px;
          width: 30px; }
  
  .section-title-3 {
    max-width: 80%; }

    
/********* widget job details *********/
.widget-job-details {
  background: #fff;
  -webkit-box-shadow: 0px 2px 50px #97A1B229;
  box-shadow: 0px 2px 50px #97A1B229;
  border-radius: 8px;
  padding: 70px 38px; }
  .widget-job-details .widget-title {
    font-size: 22px;
    color: var(--main-color-one);
    font-weight: 500;
    letter-spacing: 0.2px;
    width: 211px;
    padding: 25px 0px;
    margin-bottom: 32px;
    text-align: center;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #E4E7EB;
}
  .widget-job-details .single-job-details {
    margin-bottom: 25px; }
    .widget-job-details .single-job-details img {
      margin-top: 2px; }
    .widget-job-details .single-job-details .media-body {
      margin-left: 25.25px; }
      .widget-job-details .single-job-details .media-body h6 {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #535764;
        margin-bottom: 10px; }
      .widget-job-details .single-job-details .media-body span {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.3px;
        color: #97A1B3; }

.pd-top-112{
  padding-top:112px;
}

/*----------------------------------------
    ## All form
------------------------------------------*/
.riyaqas-form-wrap .btn {
  height: 48px;
  line-height: 48px;
  padding: 0 60px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-top: 30px; }

.single-input-wrap {
  position: relative; }
  .single-input-wrap .single-input {
    width: 100%;
    height: 52px;
    background: transparent;
    border: 1px solid #D9DDE4;
    border-radius: 4px;
    padding: 18px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.3px;
    color: #97A1B2; }
    .single-input-wrap .single-input.textarea {
      min-height: 134px; }
  .single-input-wrap.input-checkbox {
    margin-bottom: 30px; }
    .single-input-wrap.input-checkbox .single-input {
      width: auto;
      height: auto; }
  .single-input-wrap .input-checkbox-text span {
    color: var(--main-color-one); }
  .single-input-wrap .single-select {
    width: 100%;
    height: 52px;
    background: transparent;
    border: 1px solid #D9DDE4;
    border-radius: 4px;
    padding: 16px 18px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.3px;
    color: #97A1B2; }
    .single-input-wrap .single-select span.current {
      width: 180px;
      display: block; }
    .single-input-wrap .single-select:after {
      border-bottom: 1px solid #999;
      border-right: 1px solid #999;
      height: 7px;
      right: 20px;
      width: 7px; }
    .single-input-wrap .single-select .list {
      width: 100%; }
      .single-input-wrap .single-select .list li {
        font-size: 14px !important;
        letter-spacing: 0.28 !important;
        color: #97A1B2 !important;
        font-weight: 400 !important;
        -webkit-transition: 0.4s !important;
        -o-transition: 0.4s !important;
        transition: 0.4s !important; }
        .single-input-wrap .single-select .list li:hover, .single-input-wrap .single-select .list li:focus, .single-input-wrap .single-select .list li.selected {
          color: #01358D !important; }
  .single-input-wrap label {
    position: absolute;
    top: 17px;
    left: 20px;
    color: #999;
    cursor: text;
    -webkit-transition: all .15s ease-in-out 0s;
    -o-transition: all .15s ease-in-out 0s;
    transition: all .15s ease-in-out 0s;
    z-index: -1;
    font-size: var(--body-font-size);
    line-height: 1.2;
    letter-spacing: 0.3px;
    color: #97A1B2; }
  .single-input-wrap label.active {
    top: -6px;
    left: 17px;
    font-size: 11px;
    color: inherit;
    cursor: pointer;
    color: #97A1B2;
    background: #fff;
    z-index: 1;
    padding: 0 1px; }

.riyaqas-file-input-wrap {
  margin-top: 10px;
  height: 100%; }
  .riyaqas-file-input-wrap .riyaqas-file-input {
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    width: 100%; }
  .riyaqas-file-input-wrap label {
    cursor: pointer;
    border: 0;
    color: #fff;
    border-radius: 0;
    background: #32E2A9;
    height: 62px;
    line-height: 64px;
    text-align: center;
    padding: 0;
    cursor: cell; }
    .riyaqas-file-input-wrap label:after {
      display: none !important; }

.job-apply-area {
  -webkit-box-shadow: 0px 8px 30px #97A1B224;
  box-shadow: 0px 8px 30px #97A1B224;
  border-radius: 8px;
  padding: 120px 68px; }
  .job-apply-area .btn-blue {
    margin-top: 70px; }

  