/* screen - contact-us */
:root { 

  --font-size-lc: 16px;
  --font-size-mc: 14px;
  --font-size-sc: 12px;
  --font-size-xlc: 21px;
  --font-size-xxlc: 24px;
  --font-size-xxxlc: 32px;
  --font-size-xxxxlc: 36px;
 

}

@media only screen and (max-width: 419px) {
  .montserrat-light-white-11px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 300;
  }
  .montserrat-bold-white-50px-2 {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
  }
  .montserrat-bold-caribbean-green-50px {
    color: var(--caribbean-green);
    font-family: var(--font-family-montserrat);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
  }
  
}





