/* screen - contact-us */
:root { 

  --font-size-lc: 16px;
  --font-size-mc: 14px;
  --font-size-sc: 12px;
  --font-size-xlc: 21px;
  --font-size-xxlc: 24px;
  --font-size-xxxlc: 32px;
  --font-size-xxxxlc: 36px;
 

}





