.footer-zYNucu {
    background-color: var(--eerie-black);
    height: 491px;
    left: 0px;
    position: relative;
    /* top: 5390px; */
    width: 100%;
}
  .line-1-bUVegb {
    background-color: transparent;
    height: 2px;
    left: 237px;
    position: absolute;
    top: 421px;
    width: 970px;
  }
  
  .x-bUVegb {
    background-color: transparent;
    height: auto;
    left: 1024px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 448px;
    width: auto;
  }
  
  .x2021-send-friend-all-rights-reserved-bUVegb {
    background-color: transparent;
    height: auto;
    left: 233px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 448px;
    width: 308px;
  }
  
  .text-bUVegb {
    background-color: transparent;
    height: auto;
    left: 1021px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 468px;
    width: 308px;
  }
  
  .linked-in-bUVegb {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    left: 1097px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 448px;
    width: auto;
  }
  
  .twitter-bUVegb {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    left: 1037px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 448px;
    width: auto;
  }
  
  .facebook-bUVegb {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    left: 952px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 448px;
    width: auto;
  }
  
  .group-84-bUVegb {
    background-color: transparent;
    height: 231px;
    left: 206px;
    position: absolute;
    top: 44px;
    width: 1053px;
  }
  
  .montserrat-medium-white-14px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
  }
  .rectangle-40-bUVegb {
    background-color: var(--shark);
    box-shadow: 0px 12px 14px #0000001a;
    height: 198px;
    left: 0px;
    /* margin-right: 218px; */
    mix-blend-mode: normal;
    position: relative;
    top: 50px;
    width: 81%;
    margin-left: 211px;
  }
  
  .to-learn-more-about-send-friend-bUVegb {
    background-color: transparent;
    height: auto;
    left: -106px;
    /* letter-spacing: 0.00px; */
    line-height: normal;
    position: inherit;
    text-align: center;
    /* top: 138px; */
    padding: 0px 31px;
    width: auto;
    padding-top: 75px;
    /* padding-left: 142px; */
    /* text-align: center; */
}
  
  .span0-khdqLV {
  }
  
  .span1-khdqLV {
  }
  
  .group-127-bUVegb {
    background-color: transparent;
    height: 75px;
    left: 989px;
    position: absolute;
    top: 120px;
    width: 209px;
  }
  
  .rectangle-41-gExxdY {
    background-color: var(--caribbean-green);
    border: 5px solid var(--caribbean-green);
    height: 62px;
    width: 193px;
  }
  .rectangle-41-gExxdY:hover {
    background-color: #252A30;
    border: 5px solid #0FCFB0;
    color: #ffffff;
  }
  
  .contact-us-gExxdY{
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    height: auto;
    text-align: center;
    padding-top: 15px;
    width: 100%;
  }
  
  
  .api-async-c0Knzr.bp1-animate-enter14 {
    animation: bp1-animate-enter14-frames 0.20s ease-in-out 0.50s 1 normal forwards;
    display: block;
    opacity: 0;
  }
  
  @keyframes bp1-animate-enter14-frames {
    from{opacity: 0;
  }
  to{opacity: 1;
  }
  }
.asset-1bg1-1-2-bUVegb {
    background-color: transparent;
    height: 491px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 225px;
  }
  
.friend-bUVegb {
    background-color: transparent;
    height: 36px;
    left: 312px;
    position: absolute;
    top: 346px;
    width: 138px;
  }
  
.send-bUVegb {
    background-color: transparent;
    height: 38px;
    left: 314px;
    position: absolute;
    top: 302px;
    width: 110px;
  }
  
.original-logo-bUVegb {
    background-color: transparent;
    height: 74px;
    left: 248px;
    mix-blend-mode: normal;
    position: absolute;
    top: 303px;
    width: 55px;
  }  