:root { 
    --alabaster: #fafafa;
    --black: #000000;
    --black-2: #0000000f;
    --caribbean-green: #0fcfb0;
    --ebony-clay: #263238;
    --eerie-black: #221e20;
    --mist-gray: #c4c4c4;
    --quick-silver: #a6a6a6;
    --shark: #252a30;
    --white: #ffffff;
   
    --font-size-l: 16px;
    --font-size-m: 14px;
    --font-size-s: 11px;
    --font-size-xl: 21px;
    --font-size-xxl: 24px;
    --font-size-xxxl: 32px;
    --font-size-xxxxl: 36px;
   
    --font-family-montserrat: "Montserrat", Helvetica;
  }
  .montserrat-bold-white-14px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
  }
  
  .montserrat-medium-white-14px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
  }
  
  .montserrat-bold-ebony-clay-14px {
    color: var(--ebony-clay);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
  }
  
  .montserrat-medium-white-11px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 500;
  }
  
  .montserrat-semi-bold-ebony-clay-10px {
    color: var(--ebony-clay);
    font-family: var(--font-family-montserrat);
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
  }
  
  .montserrat-normal-quick-silver-11px {
    color: var(--quick-silver);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
  }
  
  .montserrat-normal-quick-silver-16px {
    color: var(--quick-silver);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
  }
  
  .montserrat-medium-white-16px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 500;
  }
  
  .montserrat-bold-white-8px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
  }
  
  .montserrat-semi-bold-ebony-clay-14px {
    color: var(--ebony-clay);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 600;
  }
  
  .montserrat-bold-ebony-clay-16px {
    color: var(--ebony-clay);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
  }
  
  .montserrat-extra-bold-white-36px {
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 800;
  }
  
  .montserrat-semi-bold-black-24px {
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 600;
  }
  
  .montserrat-normal-ebony-clay-13px {
    color: var(--ebony-clay);
    font-family: var(--font-family-montserrat);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
  }
  
  .montserrat-bold-white-32px {
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 700;
  }
  
  .montserrat-bold-white-32px-2 {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 700;
  }
  
  .montserrat-bold-eerie-black-14px {
    color: var(--eerie-black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
  }
  
  .montserrat-extra-bold-white-36px-2 {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 800;
  }
  
  .montserrat-bold-ebony-clay-18px {
    color: var(--ebony-clay);
    font-family: var(--font-family-montserrat);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
  }
  
  .border-1px-mist-gray {
    border: 1px solid var(--mist-gray);
  }
  

  