a:hover {
    color: #0fcfb0;
    text-decoration: none;
}
.fa{
    color:#ffffff;
}
.fa:hover {
    color:#0fcfb0;
}
  
.fa-angle-right:before{
    align-items: right;

    /* padding-left:60px; */
    color:#0FCFB0;
}
.fa-lg {
    float: right;
    line-height: 1;
    padding-right: 9px;
}
.bg-custom{
    background-color: #f6f6f6;
  }
.bg-transparent{
    background-color: transparent !important;
}
.pd-top-120 {
    padding-top: 120px;
}
.pd-bottom-60{
    padding-bottom: 60px;
}
.pd-bottom-112{
    padding-bottom: 112px;
}
.pd-right-70{
    padding-right: 70px;
}
.padding-custom {
    padding: 0px 60px;
}
.mg-bottom-50{
    margin-bottom: 50px !important;
    margin-top: 0 !important;
}
.mg-top-50{
    margin-top: 50px !important;
}
.mg-left-9{
    margin-left: 9px;
}
.display-block{
    display: block !important;
}
.main-color{
    color: var(--main-color);
}

input::placeholder {
    color: #97A1B2;
  }
input:focus::placeholder {
    color: transparent;
  }
.comment-form-area {
	.single-input-wrap .single-input.textarea {
		margin-bottom: 10px;
	}
	.riyaqas-form-wrap .btn {
	    padding: 0 30px;
	}
}
.main-color{
    color: var(--main-color) !important;
}
.right{
    float: right !important;
}

@media (max-width: 600px){
    .mg-top-custom-footer{
        margin-top: 80px;
        top: 0;
    }
    .d-none-mobile{
        display:none;
    }
    .pd-right-70{
        padding-right: 0px;
    }
    .pd-bottom-112{
        padding-bottom: 0px;
    }
    .pd-top-112 {
        padding-top: 40px;
    }
    .text-center{
        text-align: center !important;
    }
    .right{
        float: none !important;
    }
}