a:hover {
    color: #0fcfb0;
    text-decoration: none;
}
.fa{
    color:#ffffff;
}
.fa:hover {
    color:#0fcfb0;
}
  
.fa-angle-right:before{
    align-items: right;

    /* padding-left:60px; */
    color:#0FCFB0;
}
.fa-lg {
    float: right;
    line-height: 1;
    padding-right: 9px;
}
.pd-top-120 {
    padding-top: 120px;
}