/*----------------------
    Team Style  
-------------------------*/
.rn-box-card,
.team-style-default {
    margin-top: 75px;
    .inner {
        background: linear-gradient(180deg,var(--color-lessdark) 20%,rgba(19,19,19,.4));
        -webkit-backdrop-filter: blur(4px) opacity(.95);
        backdrop-filter: blur(4px) opacity(.95);
        border-radius: var(--radius-big);

        .thumbnail {
            max-width: 150px;
            max-height: 150px;
            border-radius: 100%;
            border: 6px solid var(--color-lessdark);
            top: -75px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            min-width: 150px;
            min-height: 150px;
            overflow: hidden;
            img {
                border-radius: 100%;
            }
        }

        .content {
            text-align: center;
            padding: 20px;
            padding-top: 85px;
            padding-bottom: 35px;

            .title {
                font-size: 34px;
                line-height: 1.4;
                font-weight: 700;
                margin-bottom: 6px;
            }
            .subtitle {
                font-size: 20px;
                line-height: 1.4;
                margin-bottom: 15px;
                display: inline-block;
            }
            .team-form {
                display: block;
                font-size: 14px;
                margin-bottom: 12px;
                letter-spacing: 0.6px;
                font-style: italic;

                img {
                    padding-right: 10px;
                    max-height: 18px;
                }
            }
            .description {
                margin-bottom: 0;
                padding: 0 5%;
            }
        }

        .social-icon {
            li {
                a {
                    color: var(--color-body);
                }
            }
        }
    }

    &.border-gradient {
        .thumbnail {
            background: linear-gradient(95deg, var(--color-primary) 15%, var(--color-tertiary) 45%, var(--color-pink) 75%, var(--color-secondary) 100%) 98%/200% 100%;
            padding: 5px;
            border: 0 none;
        }
    }

    &.style-two {
        margin-top: 30px;
        .inner {
            padding-top: 35px;
            .thumbnail {
                top: 0;
                position: static;
                left: inherit;
                transform: none;
                min-width: 150px;
                min-height: 150px;
                margin: 0 auto;
            }
            .content {
                padding-top: 10px;
            }
        }
    }
}

/*---------------------
    Team Style Two  
-----------------------*/
.team-style-two {
    .inner {
        .thumbnail {
            img {
                width: 100%;
                border-radius: var(--radius);
            }
        }
        .content {
            padding-top: 20px;
            .title {
                font-size: 28px;
                line-height: 1.4;
                font-weight: 500;
                margin-bottom: 0;

            }
            .subtitle {
                font-size: 18px;
                line-height: 1.4;
                display: inline-block;
                margin-top: 4px;
                margin-bottom: 0;
                opacity: 0;
                transform: translateX(30px);
                transition: transform .45s cubic-bezier(.16,.32,.26,.92),opacity .45s ease-out;
                transition-delay: .15s;
            }
            .team-form {
                display: block;
                font-size: 14px;
                letter-spacing: 0.6px;
                font-style: italic;
                margin-top: 11px;
                img {
                    padding-right: 10px;
                    max-height: 18px;
                }
            }
        }
    }

    &:hover {
        .inner {
            .content {
                

                .subtitle {
                    opacity: 1;
                    transform: none;
                }

            }
        }
    }
}

/*---------------------
    Team Style Three  
-----------------------*/

.team-style-three {
    .inner {
        position: relative;
        .thumbnail {
            img {
                width: 100%;
                border-radius: var(--radius);
            }
        }
        .content {
            position: absolute;
            bottom: 0;
            padding: 20px;
            width: 100%;
            transition: all 0.3s;
            opacity: 0;

            .team-info {
                padding: 20px;
                background-color: rgba(58,58,58,0.85);
                border-radius: var(--radius-small);
            }

            .title {
                font-size: 17px;
                line-height: 25px;
                color: var(--color-heading);
                margin-bottom: 4px;
            }
            .subtitle {
                font-size: 16px;
                line-height: 25px;
                margin-bottom: 4px;
            }
            .team-form {
                display: block;
                font-style: italic;
                font-size: 14px;
                color: #ADADAD;
                letter-spacing: 0.5px;
            }
        }
    }

    &:hover {
        .inner {
            .content {
                opacity: 1;
            }
        }
    }
}

.team7-MaQ2GE {
    background-color: transparent;
    height: 8.37%;
    left: calc(50.00% - 161px);
    position: absolute;
    top: 76.14%;
    width: 322px;
  }
  
.image-3-lfHTtk {
    background-color: transparent;
    cursor: pointer;
    height: 88.90%;
    left: calc(50.00% - 161px);
    mix-blend-mode: normal;
    object-fit: cover;
    pointer-events: auto;
    position: absolute;
    top: 0px;
    transition: all 0.2s ease;
    width: 322px;
  }
  
.image-3-lfHTtk:hover {
    transform: scale(0.9); 
  }
  
.bio-lfHTtk {
    background-color: transparent;
    cursor: pointer;
    height: 19.57%;
    left: calc(50.00% - 161px);
    pointer-events: auto;
    position: absolute;
    top: 80.43%;
    transition: all 0.2s ease;
    width: 326px;
  }
.bio-lfHTtk::after {
    content: "Satwik Seshasai is the head of AI Infrastructure Engineering at Compass. Previously he served as CTO at ShopSpring, an e-commerce business. He is the co-founder of Segovia Technology, an international payments platform, which was backed by Greylock Partners";
    color: #ffffff;
    position: absolute;
    text-align: center;
    font-family: 'Montserrat';
    padding: 37px 55px;
    bottom: 45px;
    left: 0;
    width: 322px;
    height: 329px;
    transform: scaleY(0);
    transform-origin: bottom center;
    -webkit-backdrop-filter: blur(13px) brightness(100%);
    backdrop-filter: blur(21px) brightness(100%) opacity(0.5);
    background-color: var(--caribbean-green-2);
    z-index: -1;
    transition: transform 0.3s;
  }
  
.bio-lfHTtk:hover {
    transform: translate(0, -10px);
  }
.bio-lfHTtk:hover::after {
    transform: translate(0, -10px);
    transform: scale(1);
  }
  
.rectangle-45-NxFrnF {
    -webkit-backdrop-filter: blur(13px) brightness(100%);
    backdrop-filter: blur(13px) brightness(100%);
    background-color: var(--caribbean-green-2);
    border-radius: 10px;
    box-shadow: 0px 0px 8px #0000002e;
    height: 100%;
    left: calc(50.00% - 163px);
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 322px;
  }
  
.satwik-seshasai-NxFrnF {
    background-color: transparent;
    height: 34.15%;
    /* left: calc(50.00% - 79px); */
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 20.89%;
    width: 100%;
  }
  
.director-NxFrnF {
    background-color: transparent;
    height: 29.03%;
    /* left: calc(50.00% - 42px); */
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 52.94%;
    width: 100%;
  }
  
.team6-MaQ2GE {
    background-color: transparent;
    height: 8.37%;
    left: calc(50.00% - 558px);
    position: absolute;
    top: 76.14%;
    width: 322px;
  }
  
.image-5-x60cHe {
    background-color: transparent;
    cursor: pointer;
    height: 94.65%;
    left: calc(50.00% - 158px);
    mix-blend-mode: normal;
    object-fit: cover;
    pointer-events: auto;
    position: absolute;
    top: 0px;
    transition: all 0.2s ease;
    width: 319px;
  }
  
.image-5-x60cHe:hover {
    transform: scale(0.9); 
  }
  
.bio-x60cHe {
    background-color: transparent;
    cursor: pointer;
    height: 19.51%;
    left: calc(50.00% - 161px);
    pointer-events: auto;
    position: absolute;
    top: 80.49%;
    transition: all 0.2s ease;
    width: 326px;
  }
.bio-x60cHe::after {
  
      content: "Sandra Ro is the current CEO of the Global Blockchain Business Council, and a recognized thought leader in the blockchain space, having built blockchain-based products at the Chicago Mercantile Exchange. She holds a BA from Yale and an MBA from the London Business School.";
      color: #ffffff;
      position: absolute;
      text-align: center;
      font-family: 'Montserrat';
      padding: 37px 55px;
      bottom: 45px;
      left: 0;
      width: 322px;
      height: 329px;
      transform: scaleY(0);
      transform-origin: bottom center;
      -webkit-backdrop-filter: blur(13px) brightness(100%);
      backdrop-filter: blur(21px) brightness(100%) opacity(0.5);
      background-color: var(--caribbean-green-2);
      z-index: -1;
      transition: transform 0.3s;
    }
  
  
  
.bio-x60cHe:hover {
    transform: translate(0, -10px);
  }
.bio-x60cHe:hover::after {
    transform: translate(0, -10px);
    transform: scaleY(1);
  }
  
.rectangle-45-u1Pqxx {
    -webkit-backdrop-filter: blur(13px) brightness(100%);
    backdrop-filter: blur(13px) brightness(100%);
    background-color: var(--caribbean-green-2);
    border-radius: 10px;
    box-shadow: 0px 0px 8px #0000002e;
    height: 100%;
    left: calc(50.00% - 163px);
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 322px;
  }
  
.sandra-ro-u1Pqxx {
    background-color: transparent;
    height: 35.25%;
    /* left: calc(50.00% - 47px); */
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 20.89%;
    width: 100%;
  }
.director-u1Pqxx {
    background-color: transparent;
    height: 29.96%;
    /* left: calc(50.00% - 29px); */
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 52.56%;
    width: 100%;
  }
  
.team5-MaQ2GE {
    background-color: transparent;
    height: 8.37%;
    left: calc(50.00% + 31px);
    position: absolute;
    top: 65.65%;
    width: 322px;
  }
  
.img_8101-1-1-UJkMtH {
    background-color: transparent;
    cursor: pointer;
    height: 95.30%;
    left: calc(50.00% - 161px);
    mix-blend-mode: normal;
    object-fit: cover;
    pointer-events: auto;
    position: absolute;
    top: 0px;
    transition: all 0.2s ease;
    width: 322px;
  }
  
.img_8101-1-1-UJkMtH:hover {
    transform: scale(0.9); 
  }
  
.bio-UJkMtH {
    background-color: transparent;
    cursor: pointer;
    height: 19.84%;
    left: calc(50.00% - 161px);
    pointer-events: auto;
    position: absolute;
    top: 80.16%;
    transition: all 0.2s ease;
    width: 326px;
  }
.bio-UJkMtH::after {
    content: "Will Ferrer is SendFriend’s Director of Strategy & Operations, joining the team in late 2021. Will has diverse experience in strategy, finance, and operations across the finance and technology sectors. Prior to SendFriend, he worked at technology firm PTC on their Corporate Strategy team... ";
    position: absolute;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat';
    padding: 37px 55px;
    bottom: 45px;
    left: 0;
    width: 322px;
    height: 329px;
    transform: scaleY(0);
    transform-origin: bottom center;
    -webkit-backdrop-filter: blur(13px) brightness(100%);
    backdrop-filter: blur(21px) brightness(100%) opacity(0.5);
    background-color: var(--caribbean-green-2);
    z-index: -1;
    transition: transform 0.3s;
  }
  
.bio-UJkMtH:hover {
    transform: translate(0, -10px);
  }
.bio-UJkMtH:hover::after {
    transform: translate(0, -10px);
    transform: scale(1);
  }
  
.rectangle-45-bcVoIv {
    -webkit-backdrop-filter: blur(13px) brightness(100%);
    backdrop-filter: blur(13px) brightness(100%);
    background-color: var(--caribbean-green-2);
    border-radius: 10px;
    box-shadow: 0px 0px 8px #0000002e;
    height: 100%;
    left: calc(50.00% - 163px);
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 322px;
  }
  
.will-ferrer-bcVoIv {
    background-color: transparent;
    height: 26.32%;
    left: calc(50.00% - 160px);
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 21.05%;
    width: 319px;
  }
  
.director-of-operations-and-strategy-bcVoIv {
    background-color: transparent;
    height: 22.37%;
    left: calc(50.00% - 160px);
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 53.95%;
    width: 319px;
  }
  
.team4-MaQ2GE {
    background-color: transparent;
    height: 8.43%;
    left: calc(50.00% + 236px);
    position: absolute;
    top: 76.14%;
    width: 322px;
  }
  
.rafal-1-7t5cul {
    background-color: transparent;
    cursor: pointer;
    height: 95.34%;
    left: calc(50.00% - 161px);
    mix-blend-mode: normal;
    object-fit: cover;
    pointer-events: auto;
    position: absolute;
    top: 0px;
    transition: all 0.2s ease;
    width: 322px;
  }
  
.rafal-1-7t5cul:hover {
    transform: scale(0.9); 
  }
  
.bio-7t5cul {
    background-color: transparent;
    cursor: pointer;
    height: 19.69%;
    left: calc(50.00% - 161px);
    pointer-events: auto;
    position: absolute;
    top: 80.31%;
    transition: all 0.2s ease;
    width: 326px;
  }
  
.bio-7t5cul:hover {
    transform: translate(0, -10px);
  }
.bio-7t5cul::after {
    content: "Rafal Petsch is SendFriend’s General Manager of its Polish subsidiary. He boasts over 25 years of experience working in the international banking sector.  He started his career in 1994 in the Treasury Department of the Warsaw branch of ING bank. ";
    position: absolute;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat';
    padding: 37px 55px;
    bottom: 45px;
    left: 0;
    width: 322px;
    height: 329px;
    transform: scaleY(0);
    transform-origin: bottom center;
    -webkit-backdrop-filter: blur(13px) brightness(100%);
    backdrop-filter: blur(21px) brightness(100%) opacity(0.5);
    background-color: var(--caribbean-green-2);
    z-index: -1;
    transition: transform 0.3s;
  }
  
.bio-7t5cul:hover::after {
    transform: translate(0, -10px);
    transform: scale(1);
  }
  
.rectangle-45-4lyrRm {
    -webkit-backdrop-filter: blur(13px) brightness(100%);
    backdrop-filter: blur(13px) brightness(100%);
    background-color: var(--caribbean-green-2);
    border-radius: 10px;
    box-shadow: 0px 0px 8px #0000002e;
    height: 100%;
    left: calc(50.00% - 163px);
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 322px;
  }
  
.rafal-petsch-4lyrRm {
    background-color: transparent;
    height: 26.32%;
    /* left: calc(50.00% - 54px); */
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 19.74%;
    width: 100%;
  }
  
.general-manager-of-polish-operations-4lyrRm {
    background-color: transparent;
    height: 22.37%;
    /* left: calc(50.00% - 136px); */
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 49.95%;
    width: 100%;
  }
  
.team2-MaQ2GE {
    background-color: transparent;
    height: 8.48%;
    left: calc(50.00% - 161px);
    position: absolute;
    display: none;
    top: 65.55%;
    width: 322px;
  }
  
.image-3-H3vWAl {
    background-color: transparent;
    cursor: pointer;
    height: 91.24%;
    left: calc(50.00% - 161px);
    mix-blend-mode: normal;
    object-fit: cover;
    pointer-events: auto;
    position: absolute;
    top: 0px;
    transition: all 0.2s ease;
    width: 322px;
  }
  
.image-3-H3vWAl:hover {
    transform: scale(0.9); 
  }
  
.bio-H3vWAl {
    background-color: transparent;
    cursor: pointer;
    height: 19.59%;
    left: calc(50.00% - 161px);
    pointer-events: auto;
    position: absolute;
    top: 80.41%;
    transition: all 0.2s ease;
    width: 326px;
  }
.bio-H3vWAl::after {
    content: "Roy Vivasi joined SendFriend as Chieft Technology Officer in mid-2021. Roy has extensive experience building electronic, algorithmic trading strategies and in software development. Prior to SendFriend, Roy was a developer for BGC Partners (2019-2021)...";
    position: absolute;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat';
    padding: 37px 55px;
    bottom: 45px;
    left: 0;
    width: 212px;
    height: 256px;
    transform: scaleY(0);
    transform-origin: bottom center;
    -webkit-backdrop-filter: blur(13px) brightness(100%);
    backdrop-filter: blur(21px) brightness(100%) opacity(0.5);
    background-color: var(--caribbean-green-2);
    z-index: -1;
    transition: transform 0.3s;
  }
  
.bio-H3vWAl:hover {
    transform: translate(0, -10px);
  }
.bio-H3vWAl:hover::after {
    transform: translate(0, -10px);
    transform: scaleY(1);
  }
  
.rectangle-45-dxCGs5 {
    -webkit-backdrop-filter: blur(13px) brightness(100%);
    backdrop-filter: blur(13px) brightness(100%);
    background-color: var(--caribbean-green-2);
    border-radius: 10px;
    box-shadow: 0px 0px 8px #0000002e;
    height: 100%;
    left: calc(50.00% - 163px);
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 322px;
  }
  
.roy-vivasi-dxCGs5 {
    background-color: transparent;
    height: 26.32%;
    left: calc(50.00% - 163px);
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 20.9%;
    width: 322px;
  }
  
.cofoundercto-dxCGs5 {
    background-color: transparent;
    height: 22.37%;
    left: calc(50.00% - 163px);
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 53%;
    width: 322px;
  }
  
.team1-MaQ2GE {
    background-color: transparent;
    height: 8.48%;
    left: calc(50.00% - 371px);
    position: absolute;
    top: 65.55%;
    width: 322px;
  }
  
.image-2-x0uKuI {
    background-color: transparent;
    cursor: pointer;
    height: 348px;
    left: 0px;
    mix-blend-mode: normal;
    object-fit: cover;
    pointer-events: auto;
    position: absolute;
    top: 0px;
    transition: all 0.2s ease;
    width: 322px;
  }
  
.image-2-x0uKuI:hover {
    transform: scale(0.9); 
  }
  
.bio-x0uKuI {
    background-color: transparent;
    cursor: pointer;
    height: 76px;
    left: calc(50.00% - 161px);
    pointer-events: auto;
    position: absolute;
    top: 310px;
    transition: all 0.2s ease;
    width: 326px;
  }
.bio-x0uKuI:after {
    position: absolute;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat';
    padding: 37px 55px;
    bottom: 45px;
    left: 0;
    width: 322px;
    height: 329px;
    transform: scaleY(0);
    transform-origin: bottom center;
    -webkit-backdrop-filter: blur(13px) brightness(100%);
    backdrop-filter: blur(21px) brightness(100%) opacity(0.5);
    background-color: var(--caribbean-green-2);
    z-index: -1;
    transition: transform 0.3s;
  }
  
.bio-x0uKuI:hover {
    transform: translate(0, -10px);
  }
.bio-x0uKuI:hover::after {
    transform: translate(0, -10px);
    transform: scaleY(1);
  }
  
.rectangle-45-rMTOpx {
    -webkit-backdrop-filter: blur(13px) brightness(100%);
    backdrop-filter: blur(13px) brightness(100%);
    background-color: var(--caribbean-green-2);
    border-radius: 10px;
    box-shadow: 0px 0px 8px #0000002e;
    height: 76px;
    left: calc(50.00% - 163px);
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 322px;
  }
  
.david-lighton-rMTOpx {
    background-color: transparent;
    height: auto;
    left: calc(50.00% - 163px);
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 17px;
    width: 322px;
  }
  
.founderceo-rMTOpx {
    background-color: transparent;
    height: auto;
    left: calc(50.00% - 163px);
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 41px;
    width: 322px;
  }


